@import "@USupport-components-library/styles";

.create-local-admin {
  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing_2_4 0;

    & > :not(:first-child) {
      margin-top: $spacing_2_4;
    }

    &__toggle {
      display: flex;
      align-items: center;
      width: 34.3rem;
      color: $color_blue_3d527b;

      @media screen and (min-width: $screen-lg) {
        width: 36.8rem;
      }

      & p {
        padding-right: $spacing_1_4;
      }
    }

    &__phone-container {
      display: flex;
      align-items: center;
      margin-top: $spacing_2_4;

      &__phone-input {
        width: 19.5rem;

        @media screen and (min-width: $screen-lg) {
          width: 22rem;
        }
      }

      & .dropdown-with-label,
      & .dropdown {
        text-align: left;
        width: 14rem;
        margin-right: $spacing_0_8;
      }
      & .dropdown-content {
        width: 12.5rem;
      }
    }

    &__phone-error {
      margin: 0;
      padding-top: $spacing_0_8;
      width: 34.3rem;
      text-align: center;
    }
  }
}
