/* CountryInformation styles */
@import "@USupport-components-library/styles";

.page__country-information {
  &__header {
    align-items: center;
    display: flex;

    & .icon {
      margin-right: $spacing_1_2;
    }
  }
}
